body {
    padding: 0px;
    margin: 0px;
  }
  
  div.row { padding: 20px;
    background-color: black;
    margin: 5px;
    text-align: center;
    width: 900px; 
    align-items: center;
    
    
  }

  .clock{background-color: rgb(20, 18, 18);
    border: 3px solid rgba(82, 78, 78, 0.329);
    border-radius: 5px;
    background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxISEhUSEhIVFRUVFhUVFhUVFRUVFRUVFRcXFhcVFRUYHSggGBolHRUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDQ0NFQ8NFSsZFRktKysrKy0rKy0tNysrKysrLSstNysrKzctNy03NzctKy0rLSstNy0rKzc3KysrKysrK//AABEIAL0BCwMBIgACEQEDEQH/xAAaAAADAQEBAQAAAAAAAAAAAAAAAQIDBAUH/8QAMhAAAgECBQIEBQMFAQEAAAAAAAERAiEDEjFBUWGBInGh4QQTMpHBUtHwFEJisfGiI//EABYBAQEBAAAAAAAAAAAAAAAAAAABAv/EABURAQEAAAAAAAAAAAAAAAAAAAAR/9oADAMBAAIRAxEAPwD4cMQwAIAAKSBTDBIF5+4DnQG9RIpJXv5dQFI2mnoEW/A2BKGBQCQwHAUkMIHBQoAcBACCBwOAJGEAAIAQANDEgAtJtuxbxPDEfyTJVM0yrLM347gSqWgk0w6Zd3sX8mnLU5uphWvAVNePMW0JWJrbU0xsGlRFUzrdWMlSr3AKaHbqbfIq4X3M6HdX3XY6mv8AN+gHiDAexGRIgABgOlAADQDAc2iO4ZXwGW0+m5piSnrL5QEAhoYCgYxgIBocBSgIGOAJAoIKJgUG1WF4VVKu4jf+WM2BIioCAEhjppdw4AdFSTupt/GXSvCnl317krDctSrFZ3kiVE6b8gVjYtLaimOyRlIOm48lmwqsRaWgvA0fhnsjT4jCcUy5npGw/hsJxVDiOk7AJYlOWnw3US4V+TR4+H+j/wA0nIm7Iv5b5KV5gxDMsgASKi3SQEUo/YSsUph+oCRQXt6FKlqVwnOmgCtHUvCanxJtdCc1o2NW6qauvZ6oDJFBA0gCBhA4AEggY4AUAOBhUoduvT3NMTFbVKceHT3+xKpbn7gRAM0eG8s7T/P9BiUNOGr/AHKMoEzdTldrckZ3KfGgEJK/oQb04jWbrqRXiNpK1tAM4NZpy9e/JGGxAVTE3mPUTKcpjWG2nVwBeJlcZe+pNMXn8lKh0NOxOJXLbCoSLj+XGqtF5Gl+gHlDACMgoXYaVgGwBWKW9vYAt+4xva3l1/cIizXS4AXSlO8Cm0QvPcqpX0jpEAJDgEMAQ0CKgASBIcdBgKBpDQIBJK3r0/cqqlS4dtnGodvcGpbt1hbBUMrGSnwuVyyn9Kt3KxXmqtQl/itAMdvwKFz59C1VaI7hg/UrT05KMmaYlFOVQ72m/Qt1Rm8O77GVWgD+Hopc5nGm8GS17gxJAdOJRRK8Voe+5jU4lJuPM2wcKqmr6ZtpKJqT8Vt3OlgqVVMS39ya9RSAF0RKvwdDpo/V6mVeG8qcWteUYgcQwAjJjWghoCo0v7Ag7DQDRUa378kotNXt5X0/cAi2vYtK+ve5CKfkAIoENANIqLa9uP5+BIoA7hAQVaNL89PIBQEF0xKtKtKnXm+wkgDLpdX9PMujDvV40oTv+rovMlrSz/fyGlrb2CnVh+BPNv8ATxrcMGiaozJW1/BnB0fCpU1f/ShtRpF/OPuBytGjoytNPnsFdOrVLidbwlw/QyaKOjDwcyqbqvPS9pOfLpc1wqLPwt9YmLHRjZFRR4I+mXl1tzuBx/JUxIvleFVTf3D4iqlvwqF5QQ6HExbyA1+bVM5tuEZVYjup1bnS5FNL4Ksk09Qq6cK6U6lrAUu+n7GeJT0jsQB0Zm0qW7WtCL/pV+o55UaC7AcIAh27kZNDQrAgLU2uCEo6jQFpu1/LpcdWrm99eSEWo69PcCotradPYupudZfM9OTNGlOWbzHaf5IAnsOlCRVIFIcAovr09xoB00yOXEbA0tpj1HACSKpxGk0tHr2CqNp0UzzvHQFEPWdvcDT59VWSmfptTbTT76I2wsLEqqrhqUpqnddLGCVHh1/y8t49SnThzVeqI8Pn1Ch4FSw6cSVldULmVP7Bj/FVurNVExGm0kVKjKtc034i/sKvLNm4/IFLHqyVUWyty7XmV+xNOC6mlKupLpWH8uqW8821iLduTBRJRo8SrDzUWfOvBt8bTV8qiWo8MQnP0vVycyyxVLc/2+50Y7w8lMNz4c16uHOttQrz2btP5a0j11JryzbTuYt7BGlKdL20Mq3dlMhhWteI3EwZsEDAvLaRZhvT/pMAca3AAIyeoIAQFqbAmJIaAtLTroWk5duZ07maKAaNcKZspd9UntwzItJcgNFq0CpSh3vaFz3GgNKU3Nur6AkKlFIC6U27Lsl0DbS06/iRUjgB0UNtJJtuIUazpYqictXhTVpcTlvaHtOgqEpUuFu4bjstSQNMWpxTKhbPnYzhsbShXnlQ/Df15JdtGBoqalTTXFps+WtvQ6vgMSv5ngpzNUtRVVtMzPc560vlrxuZ+ibLW8fzUKHFVsRq31Jw/IKxxanNUrVv/YnS20rb+hv8mh4dVTr8c2plXur87sr4jCopdOXEmZlyrPsBjh47oVVMa9eg/iM2ShNKLQ56cGGLq7z1LwqszppqqimedCjCqkPlvU7K8CjM1nlQrytbyZ14dPy5zX4lfq41AyoxHQ5ibckVUOqatrsMPxPxMmqpqUna4UqMNtwOuhpwa4FPiu41vPRk/E2qcOdL9gKXxFko0jfg0/qnx6+xk8OlUpze25HcDhnoHYSGRkwQAgKKRKGgKKJ/nkUBRSfQkqkC6XZ24vwNIlFKp26adALRSEry5++44tMry37gWmVtpvr+CGo9iliOMsuJmNp0mAHRZpumVrDlSh01KKvDMxDv4b/nS4YibdM1J2V5lJcPhoVKcVeJLSVP1X2W8agTOlvcpb+GfwS9r+xVNbl+LmW9wE6lCUXnXnodNeLS8SfkpLLGS3Ouhz/K8KqzU3cRPiXVrgrEdSq+q8a2CozKH4d9eDFIt6O5NOoF4Wj8M/axjS4aL+Y1KnUzSKNPlutvJTpHAnS8v097clYONVROXeNvMJbSU2lbdQOetRsJUNqUrHR8bg5WrzM7QYLFaTWwVeBUlUm1OtrcHQviKU6vC7xsrWMsfByQ5meg/h8DPLmOxRlRiK1tIN/6mn9PojloUmvyepB5qAAIypAgBAUNCTGgKQySgKRSZKZdNTmd+wFUtQ+bRx1kqVb19hUpw3tafwNVNx0sgKLlR1346Gc6lS46AaUNTdOBEtRZlKY6T6gW3TaE4hTda7xawqWoczNo46yN1VVNLVwktFZaEpuH66ANtQtZ39iWDY6MRqY3TT8mAjTGdDfgTSjfn7mJthVVUVWiY36hUzTldnmmz2i3uZ0RN9Aa1Y8SVE8WAiuJtoViOjKoTzf3PZ+RDZSbeVW1UFEULoJtR19zpVVaqq0m06wcjpcTtMAKnqJwVmaZFTA6c1FrednwCdEu3lZ8GFNzbDw3fQKxpNJpIoomOpt/SPlAeUUICMmMSGA0NCQ0BSGJDQFIpEopAUoKsQkW9re4DKtBKADXDyzdtKHot9hSKpy9I6LQpV2iFrM7+U8ADgBN9BAVIITAAKtOrjkgqty9I6JRsFCjK7uZstoFhw2szhElYtUxaPyUFSplw306+ZFTUKG5/wBAk729iYAM3VkNl1uG5UdOCG7fkDXBpom7tHlczxIlxpNiZCAqkVTV13veCqMaGnGn/CqviL1PKvEo8rQBlTsbZ/8AJ/dmEjkDgGIZGQhiGBQyRoCholFICkVQpesdSEUgNKdHftyEkFt6Wj8gNMuFCc344MypUaX59gKkJJ7DkCgB1K1tlN9Xu+gpAp7X9gZMhIU5FIpBsBhM7+wKpQ1F514JTve/Tkoc639xVKyvzbgUq9vLoS2BdFKqbmqOvJkU1Lsu2ogAJG6Y1UCABiGgAYCCuIYhkZAxAgKGSMCholFAMpEjApMvO7dNDNGtdEKnqpAdLbm+1+okKla9AgDat1Zne/PYzHjUQ2kSFUqgkkYDkckgA5CokGUVsIeXwt9Uv9mYDbCqp/bQQkBdFbWhK/JWLRDa4IAuvEdWpIkMBpBAIAHIDasn5/gkK//Z") }
    

  div{
    display: inline-block;
    text-align: center;
    height: auto;
    font-size: 80px;
    background-color: rgb(5, 5, 5);
    margin: 20px;
    
};
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
